@charset "utf-8"

html,body,div,img,ul,li,a{
	margin: 0;
	padding: 0;
}

body{
	background: #333;
	font-size: 12px;
	font-family: sans-serif,Gerdana,Arial;
}

.banner{
	width: 1000px;
	height: 300px;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}
.banner .bannerImg{
	width: 5000px;
	height: 300px;
	position: absolute;
	left: 0;
	top: 0;
} 
.banner .bannerImg img{
	width: 1000px;
	height: 300px;
	float: left;
}